[Desktop Entry]
Name=Minecraft Kampf 2D
Comment=Starte das Minecraft Kampf 2D Spiel
Exec=python3 /opt/main.py
Icon=/opt/1.ico
Terminal=false
Type=Application
Categories=Game;
