[Desktop Entry]
Name=Minecraft Kampf 2D
Comment=Click drauf um mehr zu erfahren
Exec=python3 /opt/Minecraft-Kampf-2D/main.py
Icon=/opt/Minecraft-Kampf-2D/1.ico
Terminal=false
Type=Application
Categories=Game;
